<body>


  <div class="container" style="margin-bottom:100px;margin-top:20px;">
    <h1 style="text-align:center"></h1>
    <md2-tabs style="border-top:1px solid;border-bottom:0;padding:5px 10px;">
      <md2-tab label="Home">
        <app-event-home [eventId]="eventId"></app-event-home>
      </md2-tab>

      <md2-tab label="Users">
        <event-users [eventId]="eventId" style="position:relative"></event-users>
      </md2-tab>

      <md2-tab label="Problems">
        <event-problems [eventId]="eventId" style="position:relative"></event-problems>
      </md2-tab>



      <md2-tab label="Submissions">
        <event-submissions [eventId]="eventId"></event-submissions>
      </md2-tab>

      <md2-tab label="Board">
        <event-board [eventId]="eventId"></event-board>
      </md2-tab>
    </md2-tabs>

  </div>
</body>
