<html>
<head>
  <style>
    body {
      background-color: lightgrey;
    }
  </style>
</head>
<body>
  <div class="container">

    <div style="text-align:center">
      <img width="170px" height="170px" [src]="logoPath" />
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10" style="font-size:20px">
        CodeFreak is a programming website, which will target programming competitions, programming projects, issue raising and social interaction. For programming competition, it will provide an interface to manage a programming competition event. For programming projects, it will provide general interface to communicate between teachers and students. It will also provide facility to raise any issue, where you can expect reply of both university fellows and teachers. Furthermore, this solution also offers a social network for teachers and students. Thus, this project is aimed to provide a general platform to address various problems.
      </div>
    </div>

    <div class="row">

      <!--Bilal Shehzad-->
      <div class="col-md-4">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user">
          <!-- Add the bg color to the header using any of the bg-* classes -->
          <div class="widget-user-header bg-black">
            <h3 class="widget-user-username">Bilal Shahzad</h3>
            <h5 class="widget-user-desc">Sr. Software Engineer</h5>
          </div>
          <div class="widget-user-image">
            <img class="img-circle" [src]="team+'sir.jpg'" alt="User Avatar">
          </div>
          <div class="box-footer">
            <div class="row">
              <div class="col-sm-2 col-sm-offset-2 border-right">
                <div class="description-block">
                  <a href="https://www.facebook.com/bilal.shahzad139" target="_blank" class="social">
                    <img width="40px" height="40px" src="../../assets/images/fb.png" />
                  </a>
                </div>
              </div>

              <div class="col-sm-2 border-right">
                <div class="description-block">
                  <a href="https://github.com/bilalshahzad139" target="_blank" class="social">
                    <img width="40px" height="40px" src="../../assets/images/git.png" />
                  </a>
                </div>
              </div>

              <div class="col-sm-2 border-right">
                <div class="description-block">
                  <a href="https://pk.linkedin.com/in/bilalshahzad139" target="_blank" class="social">
                    <img width="40px" height="40px" src="../../assets/images/in.png" />
                  </a>
                </div>
              </div>

              <div class="col-sm-2 border-right">
                <div class="description-block">
                  <a href="https://twitter.com/bilalshahzad?lang=en" target="_blank" class="social">
                    <img width="40px" height="40px" src="../../assets/images/tw.png" />
                  </a>
                </div>
              </div>

              <!-- /.row -->
            </div>
          </div>
          <!-- /.widget-user -->
        </div>




      </div>

      <!--Muhammad Usman-->
      <div class="col-md-4">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user">
          <!-- Add the bg color to the header using any of the bg-* classes -->
          <div class="widget-user-header bg-black">
            <h3 class="widget-user-username">Muhammad Usman Saleem</h3>
            <h5 class="widget-user-desc">Software Engineer</h5>
          </div>
          <div class="widget-user-image">
            <img class="img-circle" [src]="team+'usman.jpg'" alt="User Avatar">
          </div>
          <div class="box-footer">
            <div class="row">
              <div class="col-sm-2 col-sm-offset-1 border-right">
                <div class="description-block">
                  <a href="https://www.facebook.com/profile.php?id=100008326956042" target="_blank" class="social">
                    <img width="40px" height="40px" src="../../assets/images/fb.png" />
                  </a>
                </div>
              </div>

              <div class="col-sm-2 border-right">
                <div class="description-block">
                  <a href="https://github.com/tomusaleem" target="_blank" class="social">
                    <img width="40px" height="40px" src="../../assets/images/git.png" />
                  </a>
                </div>
              </div>

              <div class="col-sm-2 border-right">
                <div class="description-block">
                  <a href="https://www.linkedin.com/in/muhammad-usman-saleem-082a65171/" target="_blank" class="social">
                    <img width="40px" height="40px" src="../../assets/images/in.png" />
                  </a>
                </div>
              </div>

              <div class="col-sm-2 border-right">
                <div class="description-block">
                  <a href="https://twitter.com/Muhamma71214452" target="_blank" class="social">
                    <img width="40px" height="40px" src="../../assets/images/tw.png" />
                  </a>
                </div>
              </div>

              <div class="col-sm-2 border-right">
                <div class="description-block">
                  <a href="https://www.instagram.com/tomusaleem/" target="_blank" class="social">
                    <img width="40px" height="40px" src="../../assets/images/inst.png" />
                  </a>
                </div>
              </div>
              <!-- /.row -->
            </div>
          </div>
          <!-- /.widget-user -->
        </div>




      </div>

      <!--Muhammad Salman Saeed-->
      <div class="col-md-4">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user">
          <!-- Add the bg color to the header using any of the bg-* classes -->
          <div class="widget-user-header bg-black">
            <h3 class="widget-user-username">Muhammad Salman Saeed</h3>
            <h5 class="widget-user-desc">Software Engineer</h5>
          </div>
          <div class="widget-user-image">
            <img class="img-circle" [src]="team+'salman.jpg'" alt="User Avatar">
          </div>
          <div class="box-footer">
            <div class="row">
              <div class="col-sm-2 col-sm-offset-1 border-right">
                <div class="description-block">
                  <a href="https://www.facebook.com/msalmansaeedch" target="_blank" class="social">
                    <img width="40px" height="40px" src="../../assets/images/fb.png" />
                  </a>
                </div>
              </div>

              <div class="col-sm-2 border-right">
                <div class="description-block">
                  <a href="https://github.com/msalmansaeedch786" target="_blank" class="social">
                    <img width="40px" height="40px" src="../../assets/images/git.png" />
                  </a>
                </div>
              </div>

              <div class="col-sm-2 border-right">
                <div class="description-block">
                  <a href="https://www.linkedin.com/in/salman-saeed-40a685164/" target="_blank" class="social">
                    <img width="40px" height="40px" src="../../assets/images/in.png" />
                  </a>
                </div>
              </div>

              <div class="col-sm-2 border-right">
                <div class="description-block">
                  <a href="https://twitter.com/_msalmansaeedch" target="_blank" class="social">
                    <img width="40px" height="40px" src="../../assets/images/tw.png" />
                  </a>
                </div>
              </div>

              <div class="col-sm-2 border-right">
                <div class="description-block">
                  <a href="https://www.instagram.com/msalmansaeedch" target="_blank" class="social">
                    <img width="40px" height="40px" src="../../assets/images/inst.png" />
                  </a>
                </div>
              </div>
              <!-- /.row -->
            </div>
          </div>
          <!-- /.widget-user -->
        </div>




      </div>
    </div>
    <div class="row">


      <!--Arslan Aslam-->
      <div class="col-md-4 col-md-offset-2">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user">
          <!-- Add the bg color to the header using any of the bg-* classes -->
          <div class="widget-user-header bg-black">
            <h3 class="widget-user-username">Arslan Aslam</h3>
            <h5 class="widget-user-desc">Software Engineer</h5>
          </div>
          <div class="widget-user-image">
            <img class="img-circle" [src]="team+'arslan.jpg'" alt="User Avatar">
          </div>
          <div class="box-footer">
            <div class="row">
              <div class="col-sm-2 col-sm-offset-1 border-right">
                <div class="description-block">
                  <a href="https://web.facebook.com/people/Arslan-Aslam/100005523078865" target="_blank" class="social">
                    <img width="40px" height="40px" src="../../assets/images/fb.png" />
                  </a>
                </div>
              </div>

              <div class="col-sm-2 border-right">
                <div class="description-block">
                  <a href="https://github.com/arslanaslam007" target="_blank" class="social">
                    <img width="40px" height="40px" src="../../assets/images/git.png" />
                  </a>
                </div>
              </div>

              <div class="col-sm-2 border-right">
                <div class="description-block">
                  <a href="https://www.linkedin.com/in/arslan-aslam-298817140" target="_blank" class="social">
                    <img width="40px" height="40px" src="../../assets/images/in.png" />
                  </a>
                </div>
              </div>

              <div class="col-sm-2 border-right">
                <div class="description-block">
                  <a href="https://twitter.com/arslanaslam007" target="_blank" class="social">
                    <img width="40px" height="40px" src="../../assets/images/tw.png" />
                  </a>
                </div>
              </div>

              <div class="col-sm-2 border-right">
                <div class="description-block">
                  <a href="https://www.instagram.com/arslanaslam428/" target="_blank" class="social">
                    <img width="40px" height="40px" src="../../assets/images/inst.png" />
                  </a>
                </div>
              </div>
              <!-- /.row -->
            </div>
          </div>
          <!-- /.widget-user -->
        </div>




      </div>

      <!--Abdul Wahid-->
      <div class="col-md-4">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user">
          <!-- Add the bg color to the header using any of the bg-* classes -->
          <div class="widget-user-header bg-black">
            <h3 class="widget-user-username">Abdul Wahid</h3>
            <h5 class="widget-user-desc">Software Engineer</h5>
          </div>
          <div class="widget-user-image">
            <img class="img-circle" [src]="team+'abdul.jpg'" alt="User Avatar">
          </div>
          <div class="box-footer">
            <div class="row">
              <div class="col-sm-2 col-sm-offset-1 border-right">
                <div class="description-block">
                  <a href="https://www.facebook.com/profile.php?id=100004915187513" target="_blank" class="social">
                    <img width="40px" height="40px" src="../../assets/images/fb.png" />
                  </a>
                </div>
              </div>

              <div class="col-sm-2 border-right">
                <div class="description-block">
                  <a href="https://github.com/abdulwahid11" target="_blank" class="social">
                    <img width="40px" height="40px" src="../../assets/images/git.png" />
                  </a>
                </div>
              </div>

              <div class="col-sm-2 border-right">
                <div class="description-block">
                  <a href="https://www.linkedin.com/in/abdul-wahid-13a386172/" target="_blank" class="social">
                    <img width="40px" height="40px" src="../../assets/images/in.png" />
                  </a>
                </div>
              </div>

              <div class="col-sm-2 border-right">
                <div class="description-block">
                  <a href="https://twitter.com/abdul_wahid343?s=07" target="_blank" class="social">
                    <img width="40px" height="40px" src="../../assets/images/tw.png" />
                  </a>
                </div>
              </div>

              <div class="col-sm-2 border-right">
                <div class="description-block">
                  <a href="https://www.instagram.com/abdulwahid343/" target="_blank" class="social">
                    <img width="40px" height="40px" src="../../assets/images/inst.png" />
                  </a>
                </div>
              </div>
              <!-- /.row -->
            </div>
          </div>
          <!-- /.widget-user -->
        </div>




      </div>
    </div>
  </div>
</body>
</html>


