<body>
  <div class="container">
    <mat-tab-group dynamicHeight>
      <mat-tab label="Problem">
        <div class="row col-md-9" *ngIf="problemComplete.Success">
          <div class="cf-prob-box">
            <h2>{{problemComplete.Problem.Title}}</h2>
            <div [innerHtml]="problemComplete.Problem.Description">

            </div>
            <!--<div class="cf-prob-head">
    <b>Function Description</b>
  </div>
  <div class="cf-prob-desc">
    Write a function in which you have to write the logic of sum of two numbers
    <br />
    For example 2+2=4
  </div>

  <div class="cf-prob-head">
    <b>input Fromat</b>
  </div>
  <div class="cf-prob-desc">
    There is only one of input in which only 2 numbers will be written by space separator
  </div>

  <div class="cf-prob-head">
    <b>input Constraint</b>
  </div>
  <div class="cf-prob-desc">
    if number is n
    <br />
    <i> n '<'100000 </i>
  </div>

  <div class="cf-prob-head">
    <b>Output Format</b>
  </div>
  <div class="cf-prob-desc">
    Print the sum of two number
  </div>

  <div class="cf-prob-head">
    <b>Sampple Input</b>
  </div>
  <div class="cf-prob-sample">
    20 40
  </div>

  <div class="cf-prob-head">
    <b>Sampple Output</b>
  </div>
  <div class="cf-prob-sample">
    60
  </div>-->
          </div>
          <div class="row cf-editor">
            <div ace-editor
                 [(text)]="codeModel.Code"
                 [mode]="'c_cpp'"
                 [options]="{maxLines: 'Infinity',
                    autoScrollEditorIntoView:false,
                    fontSize: 14,
                    showGutter:true,
                    showLineNumbers:true,
                    fadeFoldWidgets:false,
                    highlightActiveLine:true,
                    highlightGutterLine:true,
                    showInvisibles:false,
                    showPrintMargin:false}"
                 [theme]="'eclipse'"
                 [readOnly]="false"
                 [autoUpdateContent]="true"
                 [durationBeforeCallback]="1000"
                 (textChanged)="onChange($event)"
                 style="min-height: 200px; width:100%; overflow: auto;">
            </div>
          </div>

          <div class="row cf-prob-btns">
            <button mat-raised-button (click)="compile()">Compile</button>
            <button mat-raised-button color="primary" (click)="submitCode()">Submit Code</button>
          </div>
          <br /><br />

          <div *ngIf="btnCompile" class="row cf-label">
            <h3>Compiling...</h3>

          </div>

          <div *ngIf="showResult" class="row cf-result">
            {{this.compilerResult.Result}}
          </div>

        </div>

        <!--Problem Not found-->

        <div *ngIf="!problemComplete.Success">
          <h1 style="color:red">Problem Not Found</h1>
        </div>


      </mat-tab>
      <mat-tab label="Submissions">
        <h1>Muhammad Usman</h1>
        <!--<app-submission [problemId]="problemId">

        </app-submission>-->
      </mat-tab>
    </mat-tab-group>

  </div>

  <footer>
    <div class="row cf-label" style="background:skyblue">
      <h5 style="text-align:center">Code Freak</h5>
    </div>

  </footer>
</body>





