<header class="main-header">
  <!-- Logo -->
  <a routerLink="/home" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>A</b>LT</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>CodeFreak</b></span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li><a routerLink="/team">About Us</a></li>
        <li><a routerLink="/chat">Message</a></li>
        <li><a routerLink="/create-event">Create Event</a></li>
        <li><a routerLink="/my-events">My Events</a></li>
        <li><a routerLink="/allProblems">Problems</a></li>
        <li><a routerLink="/create-problem">Create Problem</a></li>
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu" *ngIf="isAuth">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img [src]="imagePath" class="user-image" style="width:35px;height:35px" alt="User Image">
            <span class="hidden-xs">{{name}}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img [src]="imagePath" class="img-circle" alt="User Image">
              <p>
                {{name}}
                <small>{{email}}</small>

              </p>
            </li>

            <!-- Menu Body -->
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a (click)="profile()" class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-right">
                <a (click)="logout()" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
        <li *ngIf="!isAuth">
          <a routerLink="/signup">Register</a>
        </li>
        <li *ngIf="!isAuth">
          <a routerLink="/login">Login</a>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <!--<li>
    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
  </li>-->
      </ul>
    </div>
  </nav>
</header>
